html { scrollbar-width: none; }

body {
	background-color: #070707;
	color: #ff3300;
	font-family: monospace;
	font-size: 12px;
	margin: 0;
	padding: 0;
	background-image: url('assets/bg.png');
	background-repeat: repeat;
}

h1 { font-variant: small-caps; border-bottom: 1px dashed; }

a { color: #0066cc; text-decoration: none; }
a:hover { text-decoration: underline; }

.sidebar {
    width: 256px;
    min-height: 100%;
    border-right: 5px solid #ff3300;
    padding: 16px 16px;
    position: absolute;
    overflow: auto;
}

.title {
	font-size: 32px;
	letter-spacing: 4px;
	font-variant: small-caps;
	line-height: 0.7;
}

.subtitle { margin-bottom: 24px; font-style: italic; }

iframe {
	height: 100%;
	width: 100%;
	border: none;
}

.main {
    position: absolute;
    height: 900px;
    width: calc(100% - 293px);
    margin-left: 293px;
    box-sizing: border-box;
}

.page { padding: 24px; padding-right: 768px; }